:root {
    --col-games: coral;
    
    --col-home: palegoldenrod;
    --col-projects: palegreen;
    --col-about-me: paleturquoise;

    --col-socials: plum;
    --col-blog: palevioletred;
    --col-settings: slategrey;

    --col-page: var(--col-home);
    --col-main: whitesmoke;
    --col-text: #000;
}

[theme="games"] {
    --col-page: var(--col-games);
}

[theme="home"] {
    --col-page: var(--col-home);
}

[theme="projects"] {
    --col-page: var(--col-projects);
}

[theme="about-me"] {
    --col-page: var(--col-about-me);
}

[theme="socials"] {
    --col-page: var(--col-socials);
}

[theme="blog"] {
    --col-page: var(--col-blog);
}

[theme="settings"] {
    --col-page: var(--col-settings);
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-main: #222228;
        --col-text: ivory;
    }
}