@import "sidebar.scss";

#left-content-parent {
    --left-content-width: 225px;
    --left-content-padding: 10px;
    --left-content-border-width: calc(var(--left-content-width) + var(--left-content-padding));

    position: absolute;
    top: 0;
    z-index: 1;

    translate: calc(-1 * var(--left-content-border-width));

    border-radius: 0 10px 10px 0;

    background-color: rgba(var(--col-page-rgb), 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: translate ease-in-out 500ms;
}

#left-content {    
    width: var(--left-content-border-width);
    padding: var(--left-content-padding) var(--left-content-padding) var(--left-content-padding) 0;
    height: 100%;

    // filter: opacity(1);

    // backdrop-filter: saturate(0.4) brightness(0.8);
    // -webkit-backdrop-filter: saturate(0.4) brightness(0.8);
}

#left-content-tab-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    left: var(--left-content-border-width);
    z-index: 1;

    width: 50px;
}

#left-content-parent:hover, #left-content-tab-parent:hover {
    translate: 0;
}

#left-content-tab {
    width: 15px;
    height: 60px;

    border-radius: 0 5px 5px 0;
    background-color: var(--col-page);
}