nav {
    --width: 90px;
    --width-selected: calc(calc(var(--width) + var(--left-content-width)) / 2);

    --height: 30px;
    --height-hover: 40px;
    --height-selected: calc(calc(var(--height) + var(--height-hover)) / 2);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 15px;
    flex-grow: 1;

    overflow: hidden scroll;

    align-items: center;
}

.sidebar-options {
    list-style: none;
}

#sidebar-options-main {
    grid-row-start: 2;
}

#sidebar-options-end {
    grid-row-start: 3;
    align-self: end;
}

.sidebar-option {
    width: var(--width-hover);
}

#sidebar-option-games > .sidebar-option-link {
    background-color: orange;
}

#sidebar-option-home > .sidebar-option-link {
    background-color: palegoldenrod;
}

#sidebar-option-projects > .sidebar-option-link {
    background-color: palegreen;
}

#sidebar-option-about-me > .sidebar-option-link {
    background-color: paleturquoise;
}

#sidebar-option-socials > .sidebar-option-link {
    background-color: plum;
}

#sidebar-option-blog > .sidebar-option-link {
    background-color: palevioletred;
}

#sidebar-option-settings > .sidebar-option-link {
    background-color: slategrey;
}

.sidebar-option-link {
    padding: 5px 10px 5px 0;
    width: var(--width);
    height: var(--height);

    border-radius: 0 20px 20px 0;

    justify-content: end;
    align-items: center;

    color: black;
    filter: saturate(0.95) brightness(0.97);

    transition: width ease-in-out 400ms, height ease-in-out 400ms, filter ease-in-out 700ms;
}

.sidebar-option:hover > .sidebar-option-link {
    width: var(--left-content-width);
    height: var(--height-hover);
    filter: saturate(1) brightness(1.05);
}

.sidebar-option:not(:hover) > .sidebar-option-link.selected {
    width: var(--width-selected);
    height: var(--height-selected);
    filter: saturate(1) brightness(1);
}