.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.vh-100 {
    height: 100vh;
}

.page-colour {
    color: var(--page-colour);
}

.page-background-colour {
    background-color: var(--page-colour);
}